<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Lab13</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
</head>
<body>
<%- include('../includes/head.ejs') %>
<main role="main" class="container">
    <form action="/formulario/guardar_texto" method="POST" class="mt-5">
        <div class="mb-3">
            <label for="imprimir" class="form-label">Texto a guardar:</label>
            <input type="text" name="imprimir" class="form-control" required><br>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</main>
</body>
</html>