<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Lab22: Ruta <%= numRuta%></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
</head>
<body>
<main role="main" class="container">
    <h1 class="mt-5">Lab22: Ruta <%= numRuta%></h1>
    <p>Marco Iván Flores Villanueva A01276586</p>
    <p><a href="/">Ruta 1</a></p>
    <p><a href="/archivos">Ruta 2: archivos</a></p>
    <p><a href="/books">Ruta 3 (books: base de datos test)</a></p>
    <p><a href="/ruta4">Ruta 4 (Respuestas al Lab17)</a></p>
    <p><a href="/formulario/guardar_texto">Ruta 5 (Formulario)</a></p>
</main>
</body>
</html>