<%- include('includes/head.ejs') %>
<main role="main" class="container mb-5">
    <h2 class="mt-5">Respuestas al Lab14</h2>
    <p class="fw-bold">¿Qué beneficios encuentras en el estilo MVC?</p>
    <p>En primer lugar, considero que tener cada componente de la aplicación en un lugar por separado es una buena
    práctica ya que permite una mayor escalabilidad del sistema, pues se facilita la división del trabajo de desarrollo
    entre cada componente y se mantiene un orden. Esta misma división del sistema ayuda a evitar tener que buscar y
    corregir errores entre varias líneas de código mezclado; si se tuviera que arreglar un cálculo mal hecho en la
    aplicación, bastaría con buscar el controlador correspondiente y corregirlo ahí mismo, sin tener que afectar al
    demás código como las interfaces (views) o las rutas.</p>
    <p class="fw-bold">¿Encuentras alguna desventaja en el estilo arquitectónico MVC?</p>
    <p>La mayor y única desventaja que encuentro en el MVC es su complejidad, pues aunque la implementación del estilo
    resulte ser una buena práctica en cualquier proyecto, he observado que para estos proyectos más pequeños (como
    los laboratorios) puede llegar a elevar sus complejidades de manera algo innecesaria, introduciendo controladores,
    rutas, modelos, vistas, etc. para aplicaciones sencillas que inicialmente no lo necesitarían. Sin embargo,
    considerando que estas mismas aplicaciones seguirán siendo escaladas mientras el curso avanza, creo que la
    implementación del MVC al final resulta ser bastante útil y una buena decisión a largo plazo.</p>
</main>