<%- include('../includes/head.ejs') %>
<main role="main" class="container mb-5">
    <h2 class="mt-5">Añadir nuevo libro</h2>
    <form action="/books/add" method="POST">
        <label>Título:</label>
        <input type="text" name="title" required>
        <button type="submit">Guardar</button>
    </form>
</main>