<%- include('includes/head.ejs') %>
<main role="main" class="container mb-5">
    <h2 class="mt-5">Respuestas al Lab24</h2>
    <p class="fw-bold">¿Qué importancia tiene AJAX en el desarrollo de RIA's (Rich Internet Applications?</p>
    <p>Utilizar AJAX en el desarrollo de RIAs es fundamental porque permite cargar y enviar datos al servidor de forma
        asíncrona, sin recargar la página, lo cual mejora la interactividad, la velocidad y la experiencia del
        usuario al ofrecer una interfaz más dinámica.</p>

    <p class="fw-bold">¿Qué implicaciones de seguridad tiene AJAX? ¿Dónde se deben hacer las validaciones de seguridad,
        del lado del cliente o del lado del servidor?</p>
    <p>AJAX permite la comunicación directa entre cliente y servidor, lo cual podría llegar a exponer datos si no se
        implementa correctamente. Al usar AJAX existen algunos riesgos como las inyecciones SQL, ya que las peticiones
        pueden ser manipuladas por usuarios maliciosos desde el navegador. Por eso las validaciones de seguridad
        deben hacerse siempre del lado del servidor, ya que el cliente puede ser manipulado y no es confiable.</p>

    <p class="fw-bold">¿Qué es JSON?</p>
    <p>JSON, abreviatura para JavaScript Object Notation, es un formado de datos que usa texto leíble por humanos para
        almacenar y transmitir datos. Se usa comúnmente para intercambiar datos entre cliente y servidor en una
        aplicación web, siendo una alternativa eficiente y ligera a formatos cmo XML.</p>
</main>